body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.app {
  text-align: center;
}

.tab-nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #bc9191;
  padding: 10px 20px;
  width: 100%; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Tabien tyyli */
.tab {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
}


/* Hover-efekti */
.tab:hover {
  background-color: #b8a5a5;
  color: white
}

/* Aktiivinen tab */
.active {
  border-bottom: 3px solid #be7c7c;
}

/* Sisältöalue */
.content {
  padding: 80px 20px 20px;
  background-color: #f4f4f4;
  min-height: 500px;
  min-width: 800px;
  justify-content: center;
}

.logout {
  font-weight: bold;  /* Lisää lihavointi Kirjaudu ulos -linkille */
  color: #d9534f;     /* Punainen väri */
  border: 2px solid #d9534f;  /* Punainen reuna */
  border-radius: 5px; /* Pyöristetyt kulmat */
}

.logout:hover {
  background-color: #d9534f;
  color: white;
}

.logout.active {
  background-color: #c9302c;  /* Tumma punainen aktiiviselle */
  color: white;
}
